body {
  font-family: 'Lexend', sans-serif;
}
.wrapper {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}
#top1 {
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 5px solid;
  background-color: #333E50;
  color: white;
}
#name {
  color: white;
  font-size: 50px;
  margin-top: 40px;
  margin-bottom: 20px;
}
#phone {
  font-size: 15px;
  margin-right: 10px;
  margin-bottom: 0px;
  padding: 0px;
}
#email {
  font-size: 15px;
  margin-left: 10px;
  padding: 0px;
  margin-bottom: 10px;
}
#address {
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 50px;
}
.information {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}
#top2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid;
}
#summary {
  margin-left: 30px;
  font-size: 17px;
  width: 600px;
  align-items: center;
  justify-content: center;
}

.mid {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-self: center;
}
#left {
  grid-column: 1;
  align-items: center;
  justify-content: center;
  text-align: left;
  border-right: 2px solid;
  padding-right: 50px;
  padding-left: 40px;
}

#right {
  grid-column: 2;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-left: 40px;
}
.sub_title {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 40px;
  color: #0489B1;
}
.sub_content {
  margin-left: 20px;
  font-size: 10px;
  font-size: 17px;
}
.card {
  margin-bottom: 30px;
}
