body {
  background-color: gray;
}
.wrapper {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}
#top {
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 5px solid;
}
.mid {
  width: 80%;
  display: flex;
  align-self: center;
}
#left {
  width: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#right {
  width: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#bottom {
  align-items: center;
  justify-content: center;
  text-align: center;
}
