h2{
    margin-left: 30px;
    margin-bottom: 40px;
    color: white;
    margin-top: 30px;
}
h4{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 5px;
    color: white;
}
h5{
    margin-top: 0px;
    margin-left: 30px;
    color: white;
    font-weight: lighter;
    margin-bottom: 5px;
}
body{
    margin: 0px;
}
div#left {
    margin: 0px;
    border: 0px;
    padding: 0px;
    max-width: 300px;
    height: 2000px;
    background-color: rgb(99, 121, 153);
  }